@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  z-index: 10000;
  box-shadow: 0 4px 2px -2px #62ff0072;
}

.col-2-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  width: 70%;
}

.col-2-nav ul {
  display: flex;
  justify-content: space-between;
  width: 50%;
  gap: 30px;
  list-style: none;
}

.col-2-nav ul li a {
  text-decoration: none;
  color: black;
}

.get-app-btn {
  background-color: #62ff00;
  padding: 10px 20px;
  border-radius: 35px;
  color: black;
  font-weight: 500;
  text-decoration: none;
}

#service {
  transition: all .3s;
}

#service:hover {
  transform: translateY(-5px);
}

#details {
  padding-right: 30px;
  border-right: 8px solid #62ff00;
  border-radius: 30px;
}

#service-img {
  border-radius: 30px;
}

.gallery-img {
  cursor: pointer;
  background: linear-gradient(#62ff00, rgba(0, 0, 0, 0.5));
}

/* HTML: <div class="loader"></div> */
.loader {
  display: inline-grid;
  width: 80px;
  aspect-ratio: 2;
  overflow: hidden;
  border-image: 1 0/0 0 8px/0 0 8px repeating-linear-gradient(90deg, #fff 0 26%, #67ff00 0 52%);
}

.loader:before {
  content: "";
  margin: 0 25%;
  border-radius: 50%;
  background: repeating-conic-gradient(#fff 0 60deg, #62ff00 0 120deg);
  transform: translate(-154%, 0) rotate(0turn);
  animation: l4 3s linear infinite;
}

@keyframes l4 {
  to {
    transform: translate(160%, 0) rotate(1turn)
  }
}

#booking {
  background: linear-gradient(#66ff0084, rgba(0, 0, 0, 0.5)), url(assets/app-bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
}

.thank-you {
  display: flex;
  justify-content: center;
  align-items: center;
}